.mainWindow,
.dialog {
	position: relative;
	padding: 0 20px;
	width: 420px;
	font: 12px/1.3 Helvetica, Arial, sans-serif;
	color: #666;
	min-height: 200px;
	user-select: none;
}

input[type="checkbox"] {
	cursor: pointer;
}

hr {
	border: none;
	border-top: solid 1px #eee;
	margin: 10px -20px;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	background-color: currentColor;
}

/* SVG masks: Material Symbols Rounded (24px) converted to data URI paths */
.icon-settings { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M433-80q-27 0-46.5-18T363-142l-9-66q-13-5-24.5-12T307-235l-62 26q-25 11-50 2t-39-32l-47-82q-14-23-8-49t27-43l53-40q-1-7-1-13.5v-27q0-6.5 1-13.5l-53-40q-21-17-27-43t8-49l47-82q14-23 39-32t50 2l62 26q11-8 23-15t24-12l9-66q4-26 23.5-44t46.5-18h94q27 0 46.5 18t23.5 44l9 66q13 5 24.5 12t22.5 15l62-26q25-11 50-2t39 32l47 82q14 23 8 49t-27 43l-53 40q1 7 1 13.5v27q0 6.5-2 13.5l53 40q21 17 27 43t-8 49l-48 82q-14 23-39 32t-50-2l-60-26q-11 8-23 15t-24 12l-9 66q-4 26-23.5 44T527-80h-94Zm7-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z'/%3E%3C/svg%3E"); }
.icon-close { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m12 10.585 4.95-4.95 1.415 1.415L13.415 12l4.95 4.95-1.415 1.415L12 13.415l-4.95 4.95-1.415-1.415L10.585 12l-4.95-4.95L7.05 5.635 12 10.585Z'/%3E%3C/svg%3E"); }
.icon-expand-all { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='m480-194 155-155q12-12 28-12t28 12q12 12 12 28.5T691-292L537-137q-23 23-57 23t-57-23L268-292q-12-12-11.5-28.5T269-349q12-12 28.5-12t28.5 12l154 155Zm0-572L326-612q-12 12-28 11.5T270-612q-12-12-12.5-28.5T269-669l154-154q23-23 57-23t57 23l154 154q12 12 11.5 28.5T690-612q-12 11-28 11.5T634-612L480-766Z'/%3E%3C/svg%3E"); }
.icon-collapse-all { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M480-264 324-108q-11 11-28 11t-28-11q-11-11-11-28t11-28l155-155q23-23 57-23t57 23l155 155q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-264Zm0-432 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L537-641q-23 23-57 23t-57-23L268-796q-11-11-11-28t11-28q11-11 28-11t28 11l156 156Z'/%3E%3C/svg%3E"); }

.header {
	box-sizing: border-box;
	padding-top: 8px;
	height: 32px;
	user-select: none;
	cursor: grab;
}

.header:active {
	cursor: grabbing;
}

.header + hr {
	margin-top: 0;
	margin-bottom: 15px;
}

.header__logo {
	font-size: 15px;
	font-weight: bold;
	user-select: none;
}

.header__logo_small {
	display: none;
	user-select: none;
	cursor: grab;
}

.header__logo_small:active {
	cursor: grabbing;
}

.header__version {
	color: #bbb;
}

.topButtons {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.topButton {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	text-align: center;
	transition: color 0.3s, background 0.3s;
	user-select: none;
}

.topButton_settings {
	background: #fff;
	color: #999;
}

.topButton_settings:hover {
	background: #999;
	color: #fff;
}

.topButton_minimize {
	background: #fff;
	color: #0fb4d4;
}

.topButton_minimize .expand-icon {
	display: none;
}

.topButton_minimize:hover {
	background: #0fb4d4;
	color: #fff;
}

.topButton_close {
	border-radius: 0 3px 0 0;
	color: #f00;
	background: #fff0f0;
}

.topButton_close:hover {
	color: #fff;
	background: #f00;
}

.ffWarning {
	border: solid 1px #f00;
	color: #f00;
	padding: 4px;
	border-radius: 3px;
	margin-bottom: 20px;
}

.ffWarning p:first-child {
	margin-top: 0;
}

.ffWarning p:last-child {
	margin-bottom: 0;
}

.settingsRow {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 8px 0;
	font-size: 12px;
	color: #bbb;
}

.settingsRow input[type=checkbox] {
	vertical-align: -20%;
	margin: 0;
}

.activationKeys_changeable {
	cursor: pointer;
}

.activationKeys_changeable:hover .key {
	background: #9CE2F0;
	color: #0fb4d4;
	border-color: #0fb4d4;
}

.key {
	display: inline-block;
	font-family: monospace;
	background: #f0f0f0;
	color: #999;
	padding: 0 2px;
	margin: 0 2px;
	border: solid 1px #d5d5d5;
	border-radius: 3px;
}

.key:first-child {
	margin-left: 0;
}

#ctre_current_elm {
	font-family: monospace;
	border: solid 1px #eee;
	border-radius: 3px;
	padding: 4px;
	margin: 20px 0 10px;
	max-height: 52px;
	overflow: hidden;
	line-height: 1;
}

#ctre_current_elm .pathSeparator,
#ctre_current_elm .pathNode {
	display: inline-block;
	color: #d5d5d5;
	border-bottom: solid 2px rgba(0, 0, 0, 0);
	margin: 0 4px;
	overflow: hidden;
}

#ctre_current_elm .pathNode {
	max-width: 180px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#ctre_current_elm .pathNode.active {
	color: #999;
	border-bottom: solid 2px #555;
}

#ctre_elm_list {
	display: none;
	position: relative;
	margin: 0 -20px;
	border-bottom: solid 3px #eee;
	max-height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: contain;
}

#ctre_elm_list.hasContent {
	display: block;
}

#ctre_elm_list table {
	border: 0;
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
}

#ctre_elm_list tr.ct_heading td {
	position: sticky;
	top: 0;
	color: #999;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #eee;
}

#ctre_elm_list td {
	padding: 0;
	border: 0;
	background: #f0f0f0;
}

#ctre_elm_list tr:nth-child(even) td {
	background: #fcfcfc;
}

#ctre_elm_list td:nth-child(1) {
	padding-left: 20px;
	width: 55%;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#ctre_elm_list td:nth-child(2) {
	text-align: center;
	width: 20%;
}

#ctre_elm_list td:nth-child(3) {
	white-space: nowrap;
	width: 25%;
	text-align: right;
	padding-right: 10px;
}

#ctre_elm_list tr:not(.ct_heading) td:nth-child(1) {
	font-family: monospace;
	font-size: 11px;
}

.ct_selector {
	user-select: text;
}

.ct_display_name {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: text;
	vertical-align: bottom;
}

.ct_display_name:hover {
	background: rgba(15, 180, 212, 0.1);
}

.ct_display_name_input {
	font-family: monospace;
	font-size: 11px;
	width: 100%;
	border: 1px solid #0fb4d4;
	padding: 2px 4px;
	box-sizing: border-box;
	background: #fff;
	color: #000;
	outline: none;
}

#ctre_elm_list .ct_edit_selector {
	font-family: sans-serif;
	margin-left: 8px;
	opacity: 0;
	color: #0fb4d4;
	text-decoration: none;
	float: none;
	display: inline;
}

#ctre_elm_list .ct_edit_selector:hover {
	color: #000;
}

#ctre_elm_list tr:hover .ct_edit_selector {
	opacity: 1;
}

#ctre_elm_list a.ct_delete {
	color: #f00;
	padding: 4px;
	text-decoration: none;
	font-size: 14px;
}

#ctre_elm_list a.ct_delete:hover {
	color: #fff;
	background: #f00;
}

#ctre_elm_list .ct_preview {
	cursor: zoom-in;
	color: #0fb4d4;
	padding: 4px;
	text-decoration: none;
	font-size: 14px;
}

#ctre_elm_list .ct_preview:hover {
	background: #0fb4d4;
	color: #fff;
}

.ct_selector {
	word-break: break-all;
}

.footer {
	color: #bbb;
	text-align: center;
	padding: 10px 20px;
	margin: 20px -20px 0;
	border-top: solid 1px #eee;
}

.footer a {
	color: #0fb4d4;
	font-size: inherit;
	text-decoration: none;
	transition: color 0.5s;
}

.footer a:hover {
	color: #000;
}

.mainWindow.minimized {
	width: 80px;
	min-height: 0;
}

.mainWindow.minimized > * {
	display: none;
}

.mainWindow.minimized .topButtons {
	display: flex;
}
.mainWindow.minimized .topButton_settings {
	display: none;
}

.mainWindow.minimized .topButton_minimize .minimize-icon {
	display: none;
}

.mainWindow.minimized .topButton_minimize .expand-icon {
	display: inline;
}

.mainWindow.minimized .header {
	display: block;
}

.mainWindow.minimized .header > * {
	display: none;
}

.mainWindow.minimized .header > .header__logo_small {
	display: block;
	margin: -4px 0 0 -10px;
}

.mainWindow.minimized #ctre_elm_list.hasContent {
	display: none;
}

/* dialogs */

.advOptions__import {
	position: relative;
}

.advOptions__import input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.advOptions__row {
	margin: 1em 0;
}

.advOptions__rowHelp {
	color: #999;
	margin: 0.5em 0;
}

@media (prefers-reduced-motion) {
	.topButton,
	.icon,
	.footer a {
		transition: none;
	}
}

@media (prefers-color-scheme: dark) {
	.mainWindow,
	.dialog {
		color: #aaa;
	}

	hr {
		border-color: #333;
	}

	.header__version {
		color: #666;
	}

	.topButton_settings {
		background: #000;
		color: #999;
	}

	.topButton_settings:hover {
		color: #fff;
	}

	.topButton_minimize {
		background: #000;
	}

	.topButton_close {
		background: #633;
	}

	.settingsRow {
		color: #777;
	}

	.activationKeys_changeable:hover .key {
		background: #0fb4d4;
		color: #9CE2F0;
		border-color: #0fb4d4;
	}

	.key {
		background: #333;
		color: #999;
		border: solid 1px #666;
	}

	#ctre_current_elm {
		border-color: #333;
	}

	#ctre_current_elm .pathSeparator,
	#ctre_current_elm .pathNode {
		color: #777;
	}

	#ctre_current_elm .pathNode.active {
		color: #ccc;
		border-bottom-color:#aaa;
	}

	#ctre_elm_list {
		border-color: #333;
	}

	#ctre_elm_list tr.ct_heading td {
		color: #777;
		background: #333;
	}

	#ctre_elm_list td {
		background: #222;
	}

	#ctre_elm_list tr:nth-child(even) td {
		background: #111;
	}

	#ctre_elm_list .ct_edit_selector:hover {
		color: #fff;
	}

	.footer {
		color: #777;
		border-color: #333;
	}

	.footer a:hover {
		color: #fff;
	}
}